
/* Target the Leaflet container and override the cursor */
:host ::ng-deep .leaflet-grab,
:host ::ng-deep .leaflet-interactive {
  cursor: default !important;
}

.map-container {
    height: 100%;
    width: 100%;
}